{% extends 'BlackPageBundle:Page:base.html.twig' %}

{% block body %}
    <header>
        <h2>Page Index</h2>
    </header>

    <table id="table-config" class="table table-stripped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.name }}</td>
                <td>
                    <a class="btn" href="{{ url('page_show', {'value': document.slug}, true) }}"><i class="icon-eye-open"></i></a>
                    <a class="btn btn-primary" href="{{ url('page_update', {'value': document.id}, true) }}"><i class="icon-edit icon-white"></i></a>
                    <a class="btn btn-danger" href="{{ url('page_delete', {'value': document.id}, true) }}"><i class="icon-remove icon-white"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td colspan="3">
                    <a class="btn btn-success" href="{{ url('page_create', {}, true) }}"><i class="icon-pencil icon-white"></i> New</a>
                </td>
            </tr>
        </tfoot>

    </table>

{% endblock %}
