{% extends 'BlackroomCMSBundle::base.html.twig' %}

{% block body %}

    {% include 'BlackroomCMSBundle:CMS:header.html.twig' %}

    <div class="container">

    {{ blackroom_seo_title() }}
        <section class="row">
            <h1>{{ document.name }}</h1>

            <p class="lead">
                <em>{{ document.description }}</em>
            </p>

            {% autoescape false %}
            {% if document.primaryImageOfPage %}
                <div class="span3">
                    <img class="img-polaroid" alt="140x140" style="width: 230px;" src="/uploads/page/{{ document.primaryImageOfPage }}">
                </div>
            {% endif %}
            {{ document.text }}
            </div>
            {% endautoescape %}
        </section>

{% endblock body %}